[Desktop Entry]
Version=1.0
Type=Application
Name=convert mp4
Comment=verkleinert die Videodateien in der Auflösung
Exec=xterm -e 'python3 /opt/LibreLight/Xdesk/vpu/convert.py'
Icon=view-restore
Path=~/LibreLight/video/converter/
Terminal=true
StartupNotify=false
